<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Projet Produit</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
  </head>
  <body>
    <!--- <app-test></app-test> --->
    <div class="container">
      <div class="container" id="body">
        <!---start navbar--->
        <app-header></app-header>
        <!---end slide--->
        <!---start accountsList section--->
        <div class="container">
          <div class="row">
            <div class="col-lg-4 my-3">
              <app-user-card
                [userName]="'Admin Account'"
                [userText]="
                  'An admin account has privileges to manage services for other people in the App.'
                "
                [userImage]="'../assets/images/admin.png'"
              ></app-user-card>
            </div>
            <div class="col-lg-4 my-3">
              <app-user-card
                [userName]="'Customer Account'"
                [userText]="
                  'A Customer Account is a centralized place to manage all billing information about customers.'
                "
                [userImage]="'../assets/images/customer.png'"
              ></app-user-card>
            </div>
            <div class="col-lg-4 my-3">
              <app-user-card
                [userName]="'Golden Account'"
                [userText]="
                  'All Golden members benefit from the features included with the Cambrian Golden Account.'
                "
                [userImage]="'../assets/images/golden.png'"
              ></app-user-card>
            </div>
            <div class="col-lg-4 my-3">
              <app-user-card
                [userName]="'Blocked Account'"
                [userText]="
                  'An account that does not allow for unlimited but instead has certain restrictions.'
                "
                [userImage]="'../assets/images/blocked.png'"
              ></app-user-card>
            </div>
          </div>
        </div>
        <!---end accountsList section--->
      </div>
      <!---start usersList section--->
      <app-list-user></app-list-user>
      <!---end usersList section--->

      <!-----Footer Section------>
      <app-footer></app-footer>
      <!-----End Footer Section------>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
